@charset "utf-8";
/* CSS Document */


.cellBackgroundForFirstQuarter {
	background-image: url("../../../images/calendarMonthly/calendarFirstQuarterNormalBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForFirstQuarter:hover {
	background-image: url("../../../images/calendarMonthly/calendarFirstQuarterHoverBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForFullMoon {
	background-image: url("../../../images/calendarMonthly/calendarFullMoonNormalBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForFullMoon:hover {
	background-image: url("../../../images/calendarMonthly/calendarFullMoonHoverBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForLastQuarter {
	background-image: url("../../../images/calendarMonthly/calendarLastQuarterNormalBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForLastQuarter:hover {
	background-image: url("../../../images/calendarMonthly/calendarLastQuarterHoverBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForNewMoon {
	background-image: url("../../../images/calendarMonthly/calendarNewMoonNormalBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForNewMoon:hover {
	background-image: url("../../../images/calendarMonthly/calendarNewMoonHoverBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForTodayFirstQuarter {
	background-image: url("../../../images/calendarMonthly/calendarFirstQuarterNormalTodayBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForTodayFirstQuarter:hover {
	background-image: url("../../../images/calendarMonthly/calendarFirstQuarterHoverTodayBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForTodayFullMoon {
	background-image: url("../../../images/calendarMonthly/calendarFullMoonNormalTodayBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForTodayFullMoon:hover {
	background-image: url("../../../images/calendarMonthly/calendarFullMoonHoverTodayBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForTodayLastQuarter {
	background-image: url("../../../images/calendarMonthly/calendarLastQuarterNormalTodayBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForTodayLastQuarter:hover {
	background-image: url("../../../images/calendarMonthly/calendarLastQuarterHoverTodayBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForTodayNewMoon {
	background-image: url("../../../images/calendarMonthly/calendarNewMoonNormalTodayBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForTodayNewMoon:hover {
	background-image: url("../../../images/calendarMonthly/calendarNewMoonHoverTodayBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForOccasionFirstQuarter {
	background-image: url("../../../images/calendarMonthly/calendarFirstQuarterNormalOccasionBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForOccasionFirstQuarter:hover {
	background-image: url("../../../images/calendarMonthly/calendarFirstQuarterHoverOccasionBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForOccasionFullMoon {
	background-image: url("../../../images/calendarMonthly/calendarFullMoonNormalOccasionBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForOccasionFullMoon:hover {
	background-image: url("../../../images/calendarMonthly/calendarFullMoonHoverOccasionBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForOccasionLastQuarter {
	background-image: url("../../../images/calendarMonthly/calendarLastQuarterNormalOccasionBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForOccasionLastQuarter:hover {
	background-image: url("../../../images/calendarMonthly/calendarLastQuarterHoverOccasionBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForOccasionNewMoon {
	background-image: url("../../../images/calendarMonthly/calendarNewMoonNormalOccasionBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForOccasionNewMoon:hover {
	background-image: url("../../../images/calendarMonthly/calendarNewMoonHoverOccasionBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForBlankFirstQuarter {
	background-image: url("../../../images/calendarMonthly/calendarFirstQuarterNormalBlankBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForBlankFullMoon {
	background-image: url("../../../images/calendarMonthly/calendarFullMoonNormalBlankBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForBlankLastQuarter {
	background-image: url("../../../images/calendarMonthly/calendarLastQuarterNormalBlankBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForBlankNewMoon {
	background-image: url("../../../images/calendarMonthly/calendarNewMoonNormalBlankBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForBirthdayFirstQuarter {
	background-image: url("../../../images/calendarMonthly/calendarFirstQuarterNormalBirthdayBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForBirthdayFirstQuarter:hover {
	background-image: url("../../../images/calendarMonthly/calendarFirstQuarterHoverBirthdayBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForBirthdayFullMoon {
	background-image: url("../../../images/calendarMonthly/calendarFullMoonNormalBirthdayBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForBirthdayFullMoon:hover {
	background-image: url("../../../images/calendarMonthly/calendarFullMoonHoverBirthdayBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForBirthdayLastQuarter {
	background-image: url("../../../images/calendarMonthly/calendarLastQuarterNormalBirthdayBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForBirthdayLastQuarter:hover {
	background-image: url("../../../images/calendarMonthly/calendarLastQuarterHoverBirthdayBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForBirthdayNewMoon {
	background-image: url("../../../images/calendarMonthly/calendarNewMoonNormalBirthdayBackground.png");
	background-repeat: no-repeat;
}

.cellBackgroundForBirthdayNewMoon:hover {
	background-image: url("../../../images/calendarMonthly/calendarNewMoonHoverBirthdayBackground.png");
	background-repeat: no-repeat;
}
